<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style1.css" />
</head>

<body>
  <form id="phone-No">
  <div class="main">
    <div class="vama-desktop-signup">
      <div class="overlap-group">
        <img class="vector" src="https://c.animaapp.com/aEpqDGoZ/img/vector.svg" />
        <img class="img" src="https://c.animaapp.com/aEpqDGoZ/img/vector-12.svg" />
        <img class="vector-2" src="https://c.animaapp.com/aEpqDGoZ/img/vector-11.svg" />
        <img class="vector-3" src="https://c.animaapp.com/aEpqDGoZ/img/vector-10.svg" />
        <img class="vector-4" src="https://c.animaapp.com/aEpqDGoZ/img/vector-9.svg" />
        <img class="vector-5" src="https://c.animaapp.com/aEpqDGoZ/img/vector-8.svg" />
        <img class="vector-6" src="https://c.animaapp.com/aEpqDGoZ/img/vector-7.svg" />
        <img class="vector-7" src="https://c.animaapp.com/aEpqDGoZ/img/vector-6.svg" />
        <img class="vector-8" src="https://c.animaapp.com/aEpqDGoZ/img/vector-5.svg" />
        <img class="vector-9" src="https://c.animaapp.com/aEpqDGoZ/img/vector-4.svg" />
        <img class="vector-10" src="https://c.animaapp.com/aEpqDGoZ/img/vector-3.svg" />
        <img class="vector-11" src="https://c.animaapp.com/aEpqDGoZ/img/vector-2.svg" />
        <img class="vector-12" src="https://c.animaapp.com/aEpqDGoZ/img/vector-1.svg" />
        <img class="group" src="https://c.animaapp.com/aEpqDGoZ/img/group@2x.png" />
      </div>
    </div>
    <div class="text-wrapper">What’s your Phone Number?</div>

    <div class="input-base">
      <div class="frame">+1</div>
      <input id="phone-number" placeholder="Phone Number" pattern="[0-9]*" required></input>
    </div>
    <button  type="submit" class="btn-principals">
      <div class="placeholder">Next</div>
    </button>
  </div>
</form>
<script src="../services/authentication.js" ></script>
</body>

</html>