<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style2.css" />
</head>

<body>
    <form id="verify-button" >
    <div class="main">
        <div class="vama-desktop-signup">
            <div class="overlap-group">
                <img class="vector" src="https://c.animaapp.com/aEpqDGoZ/img/vector.svg" />
                <img class="img" src="https://c.animaapp.com/aEpqDGoZ/img/vector-12.svg" />
                <img class="vector-2" src="https://c.animaapp.com/aEpqDGoZ/img/vector-11.svg" />
                <img class="vector-3" src="https://c.animaapp.com/aEpqDGoZ/img/vector-10.svg" />
                <img class="vector-4" src="https://c.animaapp.com/aEpqDGoZ/img/vector-9.svg" />
                <img class="vector-5" src="https://c.animaapp.com/aEpqDGoZ/img/vector-8.svg" />
                <img class="vector-6" src="https://c.animaapp.com/aEpqDGoZ/img/vector-7.svg" />
                <img class="vector-7" src="https://c.animaapp.com/aEpqDGoZ/img/vector-6.svg" />
                <img class="vector-8" src="https://c.animaapp.com/aEpqDGoZ/img/vector-5.svg" />
                <img class="vector-9" src="https://c.animaapp.com/aEpqDGoZ/img/vector-4.svg" />
                <img class="vector-10" src="https://c.animaapp.com/aEpqDGoZ/img/vector-3.svg" />
                <img class="vector-11" src="https://c.animaapp.com/aEpqDGoZ/img/vector-2.svg" />
                <img class="vector-12" src="https://c.animaapp.com/aEpqDGoZ/img/vector-1.svg" />
                <img class="group" src="https://c.animaapp.com/aEpqDGoZ/img/group@2x.png" />
            </div>
        </div>
        <div class="text-wrapper"> 
            + <span id="display-phone-number"></span>
        </div>
        <div class="message-wrapper">We have sent you an SMS with the code</div>
        <input id="inputCode" class="input-base" placeholder="Code"></input>
        <button type="submit" class="btn-principals">
            <div class="placeholder">Next</div>
        </button>
        <div class="error-message">
            <span id="error-message"></span>
          </div>

    </div>
</form>

    <script src="../services/codeVerification.js" ></script>
    <script>
        const { ipcRenderer } = require("electron")
        ipcRenderer.send("get-store-phone")

        ipcRenderer.on("phone-no", (event, phone) => {
            console.log("phone in code ", phone)
            if (phone) {
                // Update username using plain JavaScript
                const phoneElement = document.getElementById('display-phone-number');
                if (phoneElement) {
                    phoneElement.textContent = phone // Update the userName for header field
                }
            } else {
                // User information not found (user not logged in)
                console.warn('phone number not entered.');
            }

        })
    </script>
</body>

</html>