<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style4.css" />
</head>

<body>
    <div class="main">
        <div class="left-section">
            <div class="div">
            <div class="list">
                <div class="chat-list">
                    <div class="list-wrapper">
                        <div class="chat-info-wrapper">
                            <div class="chat-info">
                                  <div class="message-info">
                                        <div class="group-name">
                                            <div class="text-wrapper"></div>
                                        </div>
                                        <div class="name-message">
                                            <p class="p"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-info">
                                    <div class="info">
                                        <div class="message-time">
                                            <div class="text-wrapper-2"></div>
                                        </div>
                                        <div class="not-and-pin"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fab-new-chat">
                <img class="icon-newmessage" src="https://c.animaapp.com/1IkdISFh/img/icon-newmessage-4.svg" />
            </div>
        </div>
        <div class="right-section">
            <div >
                <div class="name">
                <div class="name">
                    <span></span>
                </div>
            </div>
            <div class="convo" id="chat-messages">
            </div>
        </div>
    </div>
    <script src="../services/generateChat.js" ></script>

</body>

</html>